[Unit]
Requires=network.target
PartOf=op2.target

[Service]
Type=simple
User=op2
WorkingDirectory=/home/op2/op2

ExecStart=/bin/bash -lc 'bin/rails server -p $PORT -e $RAILS_ENV'

Restart=always
RestartSec=1
TimeoutStopSec=30
KillMode=mixed
StandardInput=null
SyslogIdentifier=%p

Environment="PATH=/home/op2/.rvm/gems/ruby-2.7.2/bin:/home/op2/.rvm/gems/ruby-2.7.2@global/bin:/home/op2/.rvm/rubies/ruby-2.7.2/bin:/home/op2/.rvm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin:/home/op2/.rvm/bin:/home/op2/.rvm/bin"
Environment="PORT=3000"
Environment="RAILS_ENV=production"
Environment="NODE_ENV=production"
Environment="RAILS_LOG_TO_STDOUT=true"
Environment="GEM_HOME=/home/op2/.rvm/gems/ruby-2.7.2"
Environment="GEM_PATH=/home/op2/.rvm/gems/ruby-2.7.2:/home/op2/.rvm/gems/ruby-2.7.2@global"
